.pb_cursor {
  display: block;
  position: absolute;
  /* transition: left 0.5s, top 0.5s;
  transition-timing-function: ease; */
  left: 0px;
  top: 0px;
  height: 23px;
  width: 19px;
  background: url(cursor.png);
}